[submodule "src/fuck-arduino-kekw/Arduino-LiquidCrystal-I2C-library"]
	path = src/fuck-arduino-kekw/Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
